.container{
        padding: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        background-color: white;
        max-width: 70vw;
        height: fit-content;
        animation: slide-down 300ms ease-out forwards;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.container p{
    font-size: 1.2rem;
    font-weight: 500;
}